on:
  push:
    paths:
      - "Cargo.toml"
      - "pyproject.toml"
      - "src/**/*.rs"
      - ".github/workflows/**"

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: Swatinem/rust-cache@v2
      - uses: dtolnay/rust-toolchain@nightly

      - name: Check
        run: cargo check
